{
  "prettier.arrowParens": "always",
  "prettier.bracketSameLine": false,
  "prettier.bracketSpacing": true,
  "prettier.embeddedLanguageFormatting": "auto",
  "prettier.htmlWhitespaceSensitivity": "css",
  "prettier.insertPragma": false,
  "prettier.jsxSingleQuote": true,
  "prettier.printWidth": 100,
  "prettier.quoteProps": "preserve",
  "prettier.semi": true,
  "prettier.singleAttributePerLine": true,
  "prettier.singleQuote": true,
  "prettier.tabWidth": 4,
  "prettier.trailingComma": "none",
  "prettier.useTabs": true,
  "prettier.vueIndentScriptAndStyle": true,
  "reactSnippets.settings.prettierEnabled": true
}
