---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro" description="Astro Pro Custom Site">
  <main>
    <h1>Tribu Resiliente, made with Astro 4.2.0</h1>
  </main>
</Layout>
